#map{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  #overlay {
    border: 1px;
    border-color: black;
    margin: 1em;
    right: 0;
    z-index: 9999;
    position: absolute;

  }